.back {
    margin-left: 24px;
    margin-top: 8px;
    margin-bottom: 0px;
    height: 24px;
    cursor: pointer;
    text-align: center;
  }
  .cardStyle {
    width: 280px;
    padding: 1px 64px 32px 64px;
    margin: auto;
    text-align: left;
}

.formControl {
    width: 240px;
}
.displayFormHelperText{
  display: '';
}
.displayNone{
  display: none;
}